/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

body{
    background-color: #444;
    margin: 0;
    /*顶部属性*/
    padding-top: 50px;
}
article{
    width: 500px;
    height: 300px;
    background-color: #ee9714;
    margin: auto;
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    color: white;
    box-shadow: 2px 5px 5px #222;
    transform: rotate(10deg);
    /*位置相对定位*/
    position: relative;
    overflow: hidden;
    /*突出指数*/
    z-index: 10;
    
    
}
.logo{
    width: 40%;
}
h1{
    font-size: 30px;
    /*font-family: 隶书;*/
}
small{
    font-size: 15px;
    /*显示块元素*/
    display: block;
    line-height: 26px;
    /*文字不加粗*/
    font-weight: normal;
}
p{
    margin: 0;
}
address{
    /*文字不倾斜*/
    font-style: normal;
    /*文字大小*/
    font-size: 15px;
    /*行高*/
    line-height: 25px;
}
.addr:before{
    content: '地址 : ';
}
.tel:before{
    content: '电话 : ';
}
.qq:before{
    content: 'QQ : ';
}
/*before在...之前 现余地址位置*/
.email:before{
    /*内容*/
    content: '邮箱 : ';
}
.qq{
    /*显示行内快元素*/
    display: inline-block;
    /*左边距*/
    margin-left: 30px;
}
.tel{
    float: left;
}
.pic{
    width: 165px;
    height: 270px;
    /*定义位置*/
    position: absolute;
    bottom: -10px;
    right: -8px;
    /*透明度*/
    opacity: 0.7;
}
aside{
    width: 500px;
    height: 300px;
    background-color: #ee9714;
    margin: 10 auto;
    padding: 80px 25px 20px 25px;
    /*文章外阴影大小*/
    box-shadow: 1px 3px 5px #222;
    box-sizing: border-box;
    transform: rotate(-1deg)
}
/*照片*/
.photo{
    width: 110px;
    height: 110px;
    background-image: url(../images/photo.jpg);
    /*设置图片属性大小*/
    background-position: 60% 70%;
    /*设置图片尺寸大小*/
    background-size: 180px 130px;
    /*边距固定*/
    border: solid 6px white;
    /*固定圆角*/
    border-radius: 50%;
    float: left;
}
aside p{
    color: white;
    width: 310px;
    /*float元素浮动 right右边*/
    float: right;
    /*设置上边距*/
    margin-top: 35px;
    /*设置行高*/
    line-height: 25px;
    /*文本缩进*/
    text-indent: 2em;
}