<table class="table table-bordered table-hover text-center">
    <tr class="text-warning">
        <td>序号</td>
        <td>姓名</td>
        <td>tel</td>
        <td>email</td>
        <td>qq</td>
        <td>操作</td>
    </tr>

    <tr ng-repeat="item in data">
        <td>{{$index + 1}}</td>
        <td>
            <a href="#/detail/{{item.id}}">
                {{item.name}}
            </a>
        </td>
        <td>
            {{item.phone}}
        </td>
        <td>
            {{item.email}}
        </td>
        <td>
            {{item.qq}}
        </td>
        <td>
            <a class="btn btn-primary" href="#/edit/{{item.id}}">编辑</a>
            <a class="btn btn-warning" ng-click="doDelFun(item.id)">删除</a>
        </td>
    </tr>

</table>
<a href="#/new" class="btn btn-info pull-right">新增</a>